# FastAPI & ASGI
fastapi
uvicorn[standard]
gunicorn

# Deep Learning
tensorflow==2.15.0

# Image processing
opencv-python-headless

# Face detection and analysis
deepface

# Utility & Validation
pydantic
requests
